:root {
    --base-color: black;
    --wall-color: #FAFD00;
    --roof-color: #661919;
    --windows-color: skyblue;
    --frame-color: lightgrey;
    --barrier-color: grey;
    --border: 2px solid var(--frame-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /*background: lightblue;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    width: 1000px;
    margin: 100px auto;
}

.shop {
    width: 700px;
    height: 300px;
    position: relative;
    top: 50px;
    z-index: 2;
}

.top-part {
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-bottom: 150px solid var(--wall-color);
    position: absolute;
    left: 30px;
    bottom: 120px;
}

.roof {
    width: 0;
    height: 0;
    border-left: 355px solid transparent;
    border-right: 355px solid transparent;
    border-bottom: 160px solid var(--roof-color);
    position: absolute;
    left: 5px;
    bottom: 120px;
}

.logo {
    width: 154px;
    height: 70px;
    background: url("../img/biedronkalogo.png") no-repeat;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -70px;
}

.bottom-part {
    width: 660px;
    height: 120px;
    background: red;
    position: absolute;
    left: 30px;
    bottom: 0;
}

.bottom-wall {
    width: 660px;
    height: 120px;
    background: url("../img/dark_brick_wall.png");
    /* Background pattern from Toptal Subtle Patterns */
    opacity: .7;
}

.pillar {
    width: 5px;
    height: 120px;
    background: var(--barrier-color);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.barrier-left {
    left: 0;
}

.penthouse {
    width: 500px;
    height: 10px;
    background: var(--barrier-color);
    position: absolute;
    top: 0;
    left: -10px;
}

.barrier-right {
    right: 180px;
}

.door-box {
    width: 120px;
    height: 90px;
    position: absolute;
    left: 30px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.door-box .window-left, .door-box .window-right {
    width: 30px;
    height: 90px;
    background: var(--windows-color);
    border: 5px solid var(--frame-color);
}

.door {
    width: 60px;
    height: 90px;
    background: var(--base-color);
    border: 5px solid var(--frame-color);
    border-bottom: 0;
}

.bin {
    width: 32px;
    height: 32px;
    background: url("../img/bin.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 150px;
}

.window {
    width: 60px;
    height: 60px;
    background: var(--windows-color);
    border: 5px solid var(--frame-color);
    position: absolute;
    top: 30px;
    left: 180px;
}

.billboard-left {
    left: 270px;
}

.billboard-top, .billboard-bottom {
    width: 60px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 270px;
    z-index: 1;
}

.billboard-top {
    top: 40px;
}

.billboard-bottom {
    bottom: 30px;
}

.billboard-right {
    left: 330px;
}

.billboard-central {
    width: 55px;
    height: 44px;
    background: var(--frame-color);
    position: absolute;
    top: 43px;
    left: 275px;
    z-index: 0;
}

.window-left-small, .window-right-small {
    width: 30px;
    height: 20px;
    background: var(--windows-color);
    border: 5px solid var(--frame-color);
    position: absolute;
    top: 20px;
}

.window-left-small {
    left: 360px;
}

.window-right-small {
    left: 425px;
}

.barrier-carts {
    width: 150px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 330px;
    bottom: 30px;
}

.barrier-carts .barrier-part {
    width: 30px;
    height: 33px;
    border-left: 2px solid var(--barrier-color);
    border-right: 2px solid var(--barrier-color);
    display: inline-block;
}

.bike {
    width: 64px;
    height: 64px;
    background: url("../img/bike.png") no-repeat;
    position: absolute;
    bottom: -10px;
    right: -5px;
}

.cash-machine {
    width: 32px;
    height: 32px;
    background: url("../img/atm.png") no-repeat;
    position: absolute;
    bottom: 35px;
    right: 100px;
}

.billboard-big {
    width: 60px;
    height: 50px;
    background: var(--frame-color);
    border: 5px solid var(--barrier-color);
    position: absolute;
    top: 20px;
    right: 15px;
}

.background {
    width: 100%;
    height: 100vh;
    background: url("../img/batthern.png");
    /* Background pattern from Toptal Subtle Patterns */
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.building-box {
    width: 100%;
    height: 400px;
    background: lightblue;
}

.building {
    display: inline-block;
}

.first-building {
    width: 20%;
    height: 95%;
    background: lightyellow;
}

.second-building {
    width: 25%;
    height: 85%;
    background: yellow;
}

.third-building {
    width: 15%;
    height: 80%;
    background: red;
}

.fourth-building {
    width: 30%;
    height: 100%;
    background: brown;
}

.fifth-building {
    width: 10%;
    height: 90%;
    background: pink;
}
