:root {
    --base-color: black;
    --wall-color: yellow;
    --roof-color: #661919;
    --windows-color: lightblue;
    --frame-color: lightgrey;
    --barrier-color: grey;
    --border: 2px solid var(--frame-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.building {
    width: 100%;
    height: 300px;
    /*background: blue;*/
    position: relative;
    margin: 10px 80px;
}

.top-part {
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-bottom: 150px solid yellow;
    position: absolute;
    left: 30px;
    bottom: 120px;
}

.roof {
    width: 0;
    height: 0;
    border-left: 355px solid transparent;
    border-right: 355px solid transparent;
    border-bottom: 160px solid var(--roof-color);
    position: absolute;
    left: 5px;
    bottom: 120px;
}


.bottom-part {
    width: 660px;
    height: 120px;
    background: red;
    position: absolute;
    left: 30px;
    bottom: 0;
}

.bottom-wall {
    width: 660px;
    height: 120px;
    background: url("../img/dark_brick_wall.png");
    /* Background pattern from Toptal Subtle Patterns */
    opacity: .7;
}

.pillar {
    width: 5px;
    height: 120px;
    background: var(--barrier-color);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.barrier-left {
    left: 0;
}

.penthouse {
    width: 500px;
    height: 10px;
    background: var(--barrier-color);
    position: absolute;
    top: 0;
    left: -10px;
}

.barrier-right {
    right: 180px;
}

.door-box {
    width: 120px;
    height: 90px;
    background: green;
    position: absolute;
    left: 30px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.door-box .window-left, .door-box .window-right {
    width: 30px;
    height: 90px;
    background: var(--windows-color);
    border: 5px solid lightgrey;
}

.door {
    width: 60px;
    height: 90px;
    background: var(--base-color);
    border: 5px solid lightgrey;
    border-bottom: 0;
}

.bin {
    width: 32px;
    height: 32px;
    background: url("../img/bin.png");
    position: absolute;
    bottom: 0;
    left: 150px;
}

.window {
    width: 60px;
    height: 60px;
    background: var(--windows-color);
    border: 5px solid lightgrey;
    position: absolute;
    top: 30px;
    left: 180px;
}

.billboard-left {
    left: 270px;
}

.billboard-top, .billboard-bottom {
    width: 60px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 270px;
    z-index: 1;
}

.billboard-top {
    top: 40px;
}

.billboard-bottom {
    bottom: 30px;
}

.billboard-right {
    left: 330px;
}

.billboard-central {
    width: 55px;
    height: 44px;
    background: var(--frame-color);
    position: absolute;
    top: 43px;
    left: 275px;
    z-index: 0;
}

.window-left-small, .window-right-small {
    width: 30px;
    height: 20px;
    background: var(--windows-color);
    border: 5px solid lightgrey;
    position: absolute;
    top: 20px;
}

.window-left-small {
    left: 360px;
}

.window-right-small {
    left: 425px;
}

.barrier-carts {
    width: 150px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 330px;
    bottom: 30px;
}

.barrier-carts .barrier-part {
    width: 30px;
    height: 33px;
    border-left: 2px solid var(--barrier-color);
    border-right: 2px solid var(--barrier-color);
    display: inline-block;
}

.bike {
    width: 64px;
    height: 64px;
    background: url("../img/bike.png");
    position: absolute;
    bottom: -10px;
    right: -5px;
}

.cash-machine {
    width: 32px;
    height: 32px;
    background: url("../img/atm.png");
    position: absolute;
    bottom: 35px;
    right: 100px;
}

.billboard-big {
    width: 60px;
    height: 50px;
    background: lightgrey;
    border: 5px solid grey;
    position: absolute;
    top: 20px;
    right: 15px;
}

.footer {
    width: 100%;
    margin: 100px;
}
