:root {
    --base-color: black;
    --wall-color: yellow;
    --roof-color: #661919;
    --windows-color: lightblue;
    --frame-color: white;
    --barrier-color: grey;
    --border: 2px solid var(--frame-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.building {
    width: 720px;
    height: 300px;
    /*background: blue;*/
    position: relative;
}

.top-part {
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-right: 330px solid transparent;
    border-bottom: 150px solid yellow;
    position: absolute;
    left: 30px;
    bottom: 120px;
}

.roof {
    width: 0;
    height: 0;
    border-left: 355px solid transparent;
    border-right: 355px solid transparent;
    border-bottom: 160px solid var(--roof-color);
    position: absolute;
    left: 5px;
    bottom: 120px;
}


.bottom-part {
    width: 660px;
    height: 120px;
    background: red;
    position: absolute;
    left: 30px;
    bottom: 0;
}

.bottom-wall {
    width: 660px;
    height: 120px;
    background: url("../img/dark_brick_wall.png");
    /* Background pattern from Toptal Subtle Patterns */
    opacity: .7;
}

.pillar {
    width: 5px;
    height: 120px;
    background: var(--barrier-color);
    position: absolute;
    bottom: 0;
}

.barrier-left {
    left: 0;
}

.penthouse {
    width: 500px;
    height: 10px;
    background: var(--barrier-color);
    position: absolute;
    top: 0;
    left: -10px;
}

.barrier-right {
    right: 180px;
}

.billboard-left {
    left: 270px;
}

.billboard-top, .billboard-bottom {
    width: 60px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 270px;
}

.billboard-top {
    top: 40px;
}

.billboard-bottom {
    bottom: 30px;
}

.billboard-right {
    left: 330px;
}

.barrier-carts {
    width: 150px;
    height: 3px;
    background: var(--barrier-color);
    position: absolute;
    left: 330px;
    bottom: 30px;
}

.barrier-carts .barrier-part {
    width: 30px;
    height: 33px;
    border-left: 2px solid var(--barrier-color);
    border-right: 2px solid var(--barrier-color);
    display: inline-block;

}

